/* .n{
    height: 80px;
    width: 100%;
    position:fixed;
    top: 0px;
    z-index: 2;
    background-color: #b9daff;
    
} */

.nv{
    font-size: 130%;
    background-color: #242526 !important;
}
.nvb{
    font-size: 150%;    
}


/* .wrapper{
    align-items: center;
    display: flex;
    padding: 6px 30px;
    justify-content: space-between;

} */

.logo > a{
    text-decoration: none;
    font-weight: 700;
    font-size: 250%;
    color: var(--light-blue);

}

.pages a{
/* padding: 0px 10px; */
text-decoration: none;
font-weight: 600;
color: var(--light-blue);
font-size: 120%;

}
.pages a:hover{
    content: "";
    border-bottom: 4px solid var(--light-blue);
    margin: 0 auto;
   
}

