/* .n{
    height: 80px;
    width: 100%;
    position:fixed;
    top: 0px;
    z-index: 2;
    background-color: #b9daff;
    
} */

.nv{
    font-size: 130%;
    background-color: #242526 !important;
}
.nvb{
    font-size: 200% !important;    
    font-family: 'Poppins Semibold';
    background: -webkit-linear-gradient(#70d9ec, #bf5de2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500 !important;

} 



/* .wrapper{
    align-items: center;
    display: flex;
    padding: 6px 30px;
    justify-content: space-between;

} */

.logo > a{
    text-decoration: none;
    font-weight: 700;
    font-size: 250%;
    color: var(--light-blue);

}

.pages{
/* padding: 0px 10px; */
/* text-decoration: none;
font-weight: 600;
color: var(--light-blue);
font-size: 120%; */
margin: 5px;
background: -webkit-linear-gradient(#70d9ec, #bf5de2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.pages:hover{
   border-bottom: solid 2px #592fa2;
}

