/* .n{
    height: 80px;
    width: 100%;
    position:fixed;
    top: 0px;
    z-index: 2;
    background-color: #b9daff;
    
} */

.nv{
    font-size: 130%;
    background-color: #E0E0E0 !important;
}
.nvb{
    font-size: 130% !important;    
    font-family: 'Poppins Semibold';
    /* background: -webkit-linear-gradient(#2672dd, #5dbce2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-weight: 500 !important;
} 




.logo > a{
    text-decoration: none;
    font-weight: 700;
    font-size: 250%;
    color: var(--light-blue);

}

.pages{
margin: 5px;
color: black;
font-family: 'Poppins Semibold';
font-size: 100% !important;
font-weight: 500 !important;
}
.pages:hover{
    background: -webkit-linear-gradient(#2672dd, #5dbce2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

