 .c{
position: relative;
padding-top: 80px;
min-height: 80vh;
}
.c-wrapper{
    padding: 50px;
}
.c-title{
    font-weight: 500;
    font-family: 'Poppins Semibold';
    font-family: 'Poppins Semibold';
    color:rgb(57, 131, 241); 

}
.c-icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.c-desc{
    color: #212121;
    font-family: "Poppins SemiBold";
}

form{
    background-color: #BDBDBD;
    height: 100%;
    padding: 5px 5px;
    border-radius: 10px;
}
input{
    margin-top: 10px;
    border: none;
    font-size: 14px;
    background-color:#EEEEEE;
    height:35px;
    color: #212121;
    border-radius: 8px;


}

 textarea{
    margin-top: 10px;
    background-color:#EEEEEE;
    border: none;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 8px;
    color: #212121;
} 

