 .c{
position: relative;
padding-top: 80px;
min-height: 80vh;
}
.c-wrapper{
    padding: 50px;
}
.c-title{
    font-weight: 500;
    font-family: 'Poppins Semibold';
    background: -webkit-linear-gradient(#70d9ec, #bf5de2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.c-icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    font-family: 'Poppins Semibold';
    color: #E4E6EB;

} 
.c-desc{
    color: #B0B3B8;
}


form{
    background-color: #242526;
    height: 100%;
    padding: 5px 5px;
    border-radius: 10px;
}
input{
    margin-top: 10px;
    border: none;
    font-size: 14px;
    background-color:#3A3B3C;
    height:35px;
    color: #E4E6EB;
    border-radius: 8px;


}

 textarea{
    margin-top: 10px;
    background-color:#3A3B3C;
    border: none;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 8px;
    color: #E4E6EB;
} 

