 .p{
     text-align: center;
    position: relative;
    padding-top: 100px;
    min-height: 100vh;
}

.p-title{
    margin: 10px 0px;
    font-weight: 300;
    font-family: 'Poppins Semibold';
    color:rgb(57, 131, 241);  
}

.p_cards{
    color: #212121;
    font-family: "Poppins SemiBold";
}

.btn:hover{
    color: blue !important;
}
