.home-container{
    padding-top: 70px;
    color: #212121;
    min-height: 100vh;
}

.name{
    font-size: 300%;
    color: #212121;
}
.tech_stack{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}
.tech_stack h3{
    font-weight: 500;
}

.tech_stack_items{
    display: flex;
}


.links > a:hover{
    color: rgb(57, 131, 241) !important;
}
.desc{
    font-size: 40%;
    color: #212121;
    font-family: "Poppins SemiBold";
}
.DropDownMenu{
    background-color: #242526 !important;

}
.DropDownItem {
    color: #E4E6EB !important;

}
.DropDownItem a {
    color: #E4E6EB !important;
    text-decoration: none;

}

.DropDownItem:hover{
    color: white;
    background-color: #3A3B3C !important;
    border-radius: 10px;
}
 