.a{
    position: relative;
    padding-top: 100px;

}
.b h1{
    font-weight: 300;
    font-family: 'Poppins Semibold';
    color:rgb(57, 131, 241);
}
.about_me p{    
    font-family: 'Poppins Semibold';
    color: #212121;
    font-size: large;
}
.about_me h3{
    color: #212121;
}