.a{
    position: relative;
    padding-top: 100px;

}
h1{
    font-weight: 500;
    font-family: 'Poppins Semibold';
    background: -webkit-linear-gradient(#70d9ec, #bf5de2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.desc{
    font-weight: 300;
    font-family: 'Poppins Semibold';
    font-size: 1.2rem;
    color: #B0B3B8;
}
.desc i{
    font-weight: 100;
    font-size: 1rem;
    color: gray;
}